* {
    font-family: Raleway;
}

body {
    max-width: 1440px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;

}

/* en tête */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px 30px 45px;
}

.logo {
    width: 8%;
}

.nav_bar {
    display: flex;
}

.nav_bar>li {
    list-style-type: none;
}

.nav_bar>li>a {
    padding-right: 60px;
    text-decoration: none;
    color: black;
}

.nav_bar>li .before2 {
    padding-right: 0;
}



.nav_bar>li>a:hover {
    color: #0065fc;
}

.before:hover::before {
    content: "";
    position: absolute;
    background-color: #0065fc;
    width: 115px;
    height: 2px;
    display: block;
    top: 0;
}

.before2:hover::before {
    content: "";
    position: absolute;
    background-color: #0065fc;
    width: 70px;
    height: 2px;
    display: block;
    top: 0;
}

/* barre de recherche */

.recherche {
    padding-left: 5em;
}

.recherche>h1 {
    margin-bottom: 5px;
}

.recherche>p {
    margin-top: 5px;
    margin-bottom: 20px;
}

/* barre de recherche */

.search_icon {
    width: 350px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    padding: 14px 0 16px 16px;
}

.fa-location-dot {
    padding-left: 5px;
}


.champ {
    width: 200px;
    border: none;
    padding: 15px 16px 14px 16px;
    margin: 0 0 0 15px;
}

.champ::placeholder {
    color: black;
    font-weight: 700;
}

.bouton {
    width: max-content;
    height: 50px;
    margin-left: -30px;
    color: white;
    font-size: medium;
    background-color: #0065FC;
    padding: 13px 16px 15px 16px;
    border: none;
    border-radius: 0 15px 15px 0;
}

.fa-magnifying-glass {
    display: none;
}

/* filtres */

.filter {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.filter_zone {
    display: flex;
    width: 80%;
}

.btn_filter {
    display: flex;
    border: solid 2px #f2f2f2;
    align-items: center;
    margin: 10px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 30px;
}

.btn_filter:hover {
    background-color: #DEEBFF;
}

.filter_icone {
    margin-right: 10px;
    color: #0065FC;
}

.filter>h2 {
    margin-right: 20px;
    font-size: 1em;
}

.btn_filter>p {
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}

/* info */

.info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}



.fa-info {
    color: #0065FC;
    border: solid 1px #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px 10px;
}

/* contenu du site */

.flex {
    padding: 0 5em;
    display: flex;
    flex-flow: row wrap;
}

.background {
    background-color: #f2f2f2;
    height: max-content;
}

.bloc_hebergement {
    width: 70%;
    margin-right: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 20px;
}

.bloc_hebergement>h2,
.afficher_plus {
    padding-left: 45px;
}



.hebergement_ville {
    margin-top: 40px;
    font-size: 1.5em;
}

.bloc_cards {
    display: flex;
    flex-flow: row wrap;
}

.bloc_cards>a {
    text-decoration: none;
    margin: auto;
}

.card {
    width: 250px;
    border-radius: 15px 15px;
    background-color: white;
    padding: 4px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.bloc_image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin-bottom: -15px;
}

.text_bloc {
    margin-left: 10px;
    color: black;
}

.text_bloc>h3 {
    margin-bottom: -10px;
}

.note_hotel {
    margin-left: 10px;
    margin-top: -10px;
    padding-bottom: 5px;
    color: #0065FC;
}

.fa-star {
    margin: -2px;
}

.afficher_plus {
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 5px;
}

.grey {
    color: #f2f2f2;
}


/* les plus polulaires */


.bloc_populaires {
    width: 27.5%;
    margin-top: 50px;
    border-radius: 20px;
}



.titre_popu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.titre_popu>i {
    color: #0065FC;
    font-size: 20px;
}

.titre_popu>h2 {
    font-size: 1.5em;
}

.cards_popu {
    width: 100%;
}

.cards_popu>a {
    text-decoration: none;
    color: black;
}

.bloc_popu {
    width: 90%;
    margin: 0 auto 54px auto;
    display: flex;
    position: relative;
    background-color: white;
    border-radius: 25px;
    column-gap: 10px;
    padding: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.bloc_popu>img {
    width: 120px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}



.flex_popu {
    display: flex;
    flex-direction: column;
}



.text_bloc_popu>h3 {
    font-size: 1em;
    margin-top: 7px;
    padding: 0;
}

.text_bloc_popu>p {
    font-size: .8em;
    padding: 0;
    margin-top: -10px;
}


.note_popu {
    position: absolute;
    bottom: 5px;
    left: 125px;
}


/* Activités à Marseille */

.activites {
    width: 100%;
    margin: auto;
    padding-top: 20px;
}

.bloc_activites {
    width: 88%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.activites_marseille {
    padding-left: 90px;
}

.containerActivites {
    width: 22%;
}

.card_activites {
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.containerActivites>a {
    color: black;
    text-decoration: none;
}

.activites_img {
    width: 100%;
    height: 350px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card_activites>h3 {
    font-size: 1em;
    padding: 0 0 15px 10px;
}

/* footer - bas de page  */

.footer {
    width: 100%;
    margin-top: 30px;
}

.footer_content {
    width: 83%;
    display: flex;
    background-color: #f2f2f2;
    margin: auto;
    padding: 40px 0 0 75px;
}

.footer_inside {
    display: flex;
    flex-direction: column;
    padding-right: 190px;

}

.footer_inside>a {
    color: black;
    text-decoration: none;
    padding-bottom: 15px;

}



/* Responsive */
/* Tablette */
@media screen and (max-width: 1024px) {

    /* header */

    .header {
        padding: 30px 35px 30px 10px;
    }


    .nav_bar {
        right: 10px;
    }


    .recherche {
        padding-left: 2em;
    }

    .recherche>h1 {
        font-size: 1.1em;
    }


    .recherche>p {
        font-size: .85em;
    }

    /* filtres */

    .btn_filter>p {
        font-size: .6em;
    }


    /* info */

    .info {
        font-size: .83em;
        margin-top: 5px;
    }



    /* contenu du site */


    .flex {
        padding: 0 0 0 2em;
    }

    .bloc_hebergement {
        width: 100%;
        margin-top: 1.2em;
        padding-right: 0;
    }

    .bloc_hebergement>h2 {
        padding-left: 35px;

    }

    .hebergement_ville {
        font-size: 1.2em;
        margin-bottom: 40px;
    }

    .bloc_cards {
        width: 95%;
        margin: -15px auto 0 auto;
    }

    .bloc_cards>a {
        width: 31.5%;
    }


    .card {
        width: 268px;
        height: 207px;
        margin: 0 3px 25px 3px;
    }

    .bloc_image {
        height: 124px;
    }

    .text_bloc {
        padding-top: 5px;
        font-size: .8em;
    }

    .note_hotel {
        font-size: .8em;
    }

    .note_hebergement {
        padding-top: 8px;
    }


    /* les plus populaires */

    .titre_popu {
        margin: 15px 35px 0 35px;
        justify-content: space-between;
    }

    .bloc_populaires {
        width: 97%;
        height: 270px;

    }

    .cards_popu {
        width: 95%;
        display: flex;
        gap: 10px;
        margin: auto;
        justify-content: space-around;
    }

    .cards_popu>a {
        width: 274.67px;
        padding-bottom: 10px;
        margin: auto;
    }

    .bloc_popu {
        width: 100%;
        margin: -5px;
    }

    .bloc_popu>img {
        width: 91.67px;
        height: 144px;
    }

    .flex_popu {
        width: 100%;
    }

    .text_bloc_popu {
        width: 85%;
    }

    .text_bloc_popu>h3 {
        font-size: .9em;
    }

    .text_bloc_popu>p {
        padding-top: 5px;
        font-size: .8em;
    }

    .note_popu {
        left: 100px;
    }


    /* Activités à Marseille */

    .activites_marseille {
        padding-left: 60px;
    }

    .bloc_activites {
        width: 100%;
        justify-content: center;
        gap: 30px;
    }


    .containerActivites {
        width: 20%;
    }

    .activites_img {
        height: 220px;
    }

    .card_activites {
        height: 300px;
    }

    .card_activites>h3 {
        font-size: 1em;
        margin: 0;
        padding: 25px 0px 15px 25px;
    }

    .card_activites>.modif {
        padding: 20px 0px 15px 25px;
    }


    /* footer */

    .footer {
        width: 100%;
        padding-left: 0;
    }

    .footer_content {
        width: 85%;
        padding-bottom: 40px;
    }

    .footer_inside {
        width: 100%;
        padding-right: 60px;
    }

    .footer_inside>h3 {
        font-size: .9em;
    }

    .footer_inside>a {
        font-size: .6em;
        padding-bottom: 10px;
    }
}


@media screen and (max-width:992px) {

    /* header */

    .header {
        padding: 30px 35px 30px 15px;
    }

    /* contenu du site */



    .bloc_cards {
        width: 90%;
    }

    .bloc_cards>a {
        width: 33%;
    }


    .card {
        width: 190px;
        height: 200px;
    }


    /* les plus populaires */


    .bloc_populaires {
        width: 97%;
        height: 250px;

    }

    .cards_popu {
        width: 95%;
        display: flex;
        gap: 10px;
        margin: auto;
        justify-content: space-around;
    }

    .cards_popu>a {
        width: 200px;
        padding-bottom: 10px;
        margin: auto;
    }

    .bloc_popu {
        width: 100%;
        margin: -5px;
    }

    .bloc_popu>img {
        width: 80px;
        height: 124px;
    }


    .text_bloc_popu>h3 {
        font-size: .8em;
    }

    .text_bloc_popu>p {
        font-size: .6em;
    }

    .note_popu {
        left: 85px;
    }


    /* Activités à Marseille */


    .bloc_activites {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }


    .containerActivites {
        width: 20%;
    }

    .activites_img {
        height: 180px;
    }

    .card_activites {
        height: 235px;
    }

    .card_activites>h3 {
        font-size: .8em;
        margin: 0;
        padding: 15px 0px 15px 10px;
    }

    .card_activites>.modif {
        padding: 10px 0px 15px 10px;
    }


    /* footer */

    .footer {
        width: 100%;
        padding-left: 0;
    }

    .footer_content {
        width: 85%;
        padding: 10px 0 0 25px;
    }

    .footer_inside {
        width: 100%;
        padding-right: 60px;
    }

    .footer_inside>h3 {
        font-size: .9em;
    }

    .footer_inside>a {
        font-size: .6em;
        padding-bottom: 10px;
    }
}



/* Mobile */

@media screen and (max-width: 767px) {

    .header {
        flex-direction: column;
        margin: 0;
        padding: 30px 0 30px 0;
    }

    .logo {
        width: 20%;
        padding-bottom: 30px;
        margin-top: 10px;
    }

    nav {
        width: 100%;
    }

    .nav_bar {
        width: 100%;
        padding: 0 0 20px 0;
        justify-content: space-around;
        position: relative;
        border-bottom: 3px solid #f2f2f2;
    }

    .nav_bar>li>a {
        margin: 0;
        display: inline;
    }


    .before:hover::before {
        display: none;
    }

    .before2:hover::before {
        display: none;
    }

    .before:hover::after {
        width: 50%;
        content: "";
        position: absolute;
        background-color: #0065fc;
        height: 2px;
        display: block;
        top: 40px;
        transform: translateX(-15%);
    }

    .before2:hover::after {
        width: 50%;
        content: "";
        position: absolute;
        background-color: #0065fc;
        height: 2px;
        display: block;
        top: 40px;
        transform: translateX(-45%);
    }


    /* recherche */

    .recherche {    
        padding-left: 1em;
    }

    .recherche > form {
        margin-left: -1em;
        text-align: center;
    }


    .fa-magnifying-glass {
        display: block;
    }

    .hide_search {
        display: none;
    }

    .search_icon {
        padding: 14px 0 15px 16px;
    }

    .champ {
        width: 60%;
        padding: 15px 16px 15px 0;
    }

    .champ::placeholder {
        padding-left: 20px;
    }

    .bouton {
        height: 48px;
        border-radius: 15px;
    }

    /* filtres */
    .filter {
        flex-direction: column;
        align-items: baseline;
    }

    .filter_zone {
        width: 100%;
        flex-wrap: wrap;
        justify-content: left;
    }

    .btn_filter {
        width: 35%;
        margin-left: 0;
        padding: 10px;
    }


    /* info */

    .info {
        font-size: .65em;
        margin-top: 5px;
    }

    .fa-info {
        padding: 4px 7px;

    }


    /* contenu du site */


    .flex {
        padding: 0;
        flex-flow: column-reverse;
    }

    .bloc_hebergement {
        width: 100%;
        margin-top: 1.2em;
        margin-right: 0;
        background-color: white;
    }


    .bloc_hebergement>h2 {
        font-size: 1.1em;
        padding-left: 30px;
    }

    .bloc_cards>a {
        width: 100%;
    }


    .card {
        width: 90%;
        margin: 10px;
    }

    .bloc_image {
        height: 125px;
    }

    .afficher_plus {
        padding-left: 30px;
    }



    /* les plus populaires */

    .bloc_populaires {
        width: 100%;
        height: max-content;
        padding-bottom: 20px;
        border-radius: 0;
    }


    .titre_popu {
        margin: 0 10px 0 15px;
        justify-content: space-between;
    }

    .cards_popu {
        width: 95%;
        flex-direction: column;
    }

    .cards_popu>a {
        width: 90%;
        padding-bottom: 0;
        margin: 0 20px 0 auto;
    }

    .bloc_popu {
        width: 100%;
        margin: 0 auto 5px auto;
    }

    .bloc_popu>img {
        width: 40%;
        height: 150px;
    }

    .text_bloc_popu {
        width: 100%;
    }

    .text_bloc_popu>h3 {
        font-size: 1em;
    }

    .text_bloc_popu>p {
        padding-top: 5px;
        font-size: .9em;
    }

    .note_popu {
        left: 40%;
    }


    /* Activités à Marseille */

    .activites_marseille {
        padding-left: 20px;
        margin-bottom: 30px;
    }

    .bloc_activites {
        width: 100%;
        flex-direction: column;
    }

    .containerActivites {
        width: 90%;
        margin: 0 auto 20px auto;

    }

    .activites_img {
        height: 140px;
    }

    .card_activites{
        height: 190px;
    }

    .card_activites>h3 {

        padding: 15px 0px 15px 10px;
    }


    /* footer */

    .footer {
        width: 90%;
        height: max-content;
        padding-left: 0;
    }

    .footer_content {
        width: 100%;
        padding: 40px 0 100px 30px;
        flex-direction: column;
    }

    .footer_inside {
        width: 100%;
        padding-right: 0;
    }

}



@media screen and (max-width: 319px) {

    .header {
        flex-direction: column;
        margin: 0;
    }

    .logo {
        width: 20%;
        padding-bottom: 30px;
        margin-top: 10px;
    }

    nav {
        width: 100%;
    }

    .nav_bar {
        width: 104%;
        padding: 0 0 20px 0;
        justify-content: space-around;
        position: relative;
        border-bottom: 3px solid #f2f2f2;
    }

    .nav_bar>li>a {
        margin: 0;
        display: inline;
    }

    .before:hover::before {
        display: none;
    }

    .before2:hover::before {
        display: none;
    }

    .before:hover::after {
        width: 50%;
        content: "";
        position: absolute;
        background-color: #0065fc;
        height: 2px;
        display: block;
        top: 40px;
        transform: translateX(-10%);
    }

    .before2:hover::after {
        width: 45%;
        content: "";
        position: absolute;
        background-color: #0065fc;
        height: 2px;
        display: block;
        top: 40px;
        transform: translateX(-25%);
    }

    .recherche {
        padding-left: 1em;
    }


    /* filtres */

    .fa-magnifying-glass {
        display: block;
    }

    .hide_search {
        display: none;
    }

    .search_icon {
        padding: 14px 0 15px 16px;
    }

    .champ {
        width: 160px;
        padding: 15px 16px 15px 0;
    }

    .champ::placeholder {
        padding-left: 20px;
    }

    .bouton {
        height: 48px;
        border-radius: 15px;
    }


    .filter {
        flex-direction: column;
        align-items: baseline;
    }

    .filter_zone {
        width: 100%;
        flex-wrap: wrap;
        justify-content: left;
    }

    .btn_filter {
        width: 35%;
        margin-left: 0;
        padding: 10px;
    }


    /* info */

    .info {
        font-size: .65em;
        margin-top: 5px;
    }

    .fa-info {
        padding: 4px 7px;

    }



    /* contenu du site */


    .flex {
        padding: 0;
        flex-flow: column-reverse;
    }

    .bloc_hebergement {
        width: 100%;
        margin-top: 1.2em;
        margin-right: 0;
        background-color: white;
    }


    .bloc_hebergement>h2 {
        font-size: 1.4em;

    }

    .bloc_cards>a {
        width: 100%;
    }


    .card {
        width: 90%;
        margin: 10px;
    }

    .bloc_image {
        height: 125px;
    }

    .afficher_plus {
        padding-left: 30px;
    }



    /* les plus populaires */

    .bloc_populaires {
        /* width: 105%; */
        width: 100%;
        height: max-content;
        padding-bottom: 20px;
        border-radius: 0;
    }


    .titre_popu {
        margin: 0 10px 0 15px;
        justify-content: space-between;
    }

    .cards_popu {
        width: 95%;
        flex-direction: column;
    }

    .cards_popu>a {
        width: 90%;
        padding-bottom: 0;
        margin: 0 20px 0 auto;
    }

    .bloc_popu {
        width: 100%;
        margin: 0 auto 5px auto;
    }

    .bloc_popu>img {
        width: 40%;
        height: 150px;
    }

    .text_bloc_popu {
        width: 100%;
    }

    .text_bloc_popu>h3 {
        font-size: 1em;
    }

    .text_bloc_popu>p {
        padding-top: 5px;
        font-size: .9em;
    }

    .note_popu {
        left: 40%;
    }


    /* Activités à Marseille */

    .activites_marseille {
        padding-left: 20px;
        margin-bottom: 30px;
    }

    .bloc_activites {
        width: 100%;
        flex-direction: column;
    }

    .containerActivites {
        width: 90%;
        margin: 0 auto 20px auto;

    }

    .activites_img {
        height: 140px;
    }


    .card_activites>h3 {
        font-size: 1em;
        padding: 15px 0px 15px 10px;
    }


    /* footer */

    .footer {
        width: 90%;
        height: max-content;
        padding-left: 0;
    }

    .footer_content {
        width: 100%;
        padding: 40px 0 100px 30px;
        flex-direction: column;
    }

    .footer_inside {
        width: 100%;
        padding-right: 0;
    }

}